<% include header.ejs %>

    <style>
        .tb {
            display: table;
            width: 100%;
        }

        .td {
            display: table-cell;
            vertical-align: middle;
        }

        input,
        button {
            color: #fff;
            font-family: Nunito;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: transparent;
        }

        #cover {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            /* width: 550px; */
            padding: 15px;
            margin: -83px auto 0 auto;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0 10px 40px #cccccc, 0 0 0 20px #ffffffeb;
            transform: scale(0.6);
        }

        form {
            height: 96px;
        }

        input[type="text"] {
            width: 100%;
            height: 96px;
            font-size: 40px;
            line-height: 1;
            color: black !important;
        }

        input[type="text"]::placeholder {
            color: black;
        }

        #s-cover {
            width: 1px;
            padding-left: 35px;
        }

        button {
            position: relative;
            display: block;
            width: 84px;
            height: 96px;
            cursor: pointer;
        }

        #s-circle {
            position: relative;
            top: -8px;
            left: 0;
            width: 70px;
            height: 70px;
            margin-top: 0;
            border-width: 15px;
            border: 15px solid #fff;
            background-color: #F9931D;
            border-radius: 50%;
            transition: 0.5s ease all;
        }

        button span {
            position: absolute;
            top: 68px;
            left: 43px;
            display: block;
            width: 45px;
            height: 15px;
            background-color: #F9931D;
            border-radius: 10px;
            transform: rotateZ(52deg);
            transition: 0.5s ease all;
        }

        button span:before,
        button span:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 45px;
            height: 15px;
            background-color: #F9931D;
            border-radius: 10px;
            transform: rotateZ(0);
            transition: 0.5s ease all;
        }

        #s-cover:hover #s-circle {
            top: -1px;
            width: 67px;
            height: 15px;
            border-width: 0;
            background-color: #F9931D;
            border-radius: 20px;
        }

        #s-cover:hover span {
            top: 50%;
            left: 56px;
            width: 25px;
            margin-top: -9px;
            transform: rotateZ(0);
        }

        #s-cover:hover button span:before {
            bottom: 11px;
            transform: rotateZ(52deg);
        }

        #s-cover:hover button span:after {
            bottom: -11px;
            transform: rotateZ(-52deg);
        }

        #s-cover:hover button span:before,
        #s-cover:hover button span:after {
            right: -6px;
            width: 40px;
            background-color: #F9931D;
        }
    </style>
    <main>

       
        <section class="services-section section-padding" style="padding-top: 60px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">

                        <div class="section-tittle text-center mb-45 ">
                            <h2>All Destination </h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row" id="render_data">

                    <!-- <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services2.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">12000 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services3.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">1000 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services4.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html"> Card Title </a></h3>
                                <span class="price">1200 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services5.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">1200 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services6.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">1000 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </section>


        <!-- <div class="bottom-padding">
            <div class="container">
                <div class="video-area section-img-bg2 d-flex align-items-center"
                    data-background="assets/img/gallery/video-bg.jpg">
                    <div class="video-wrap">
                        <div class="video-icon">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=up68UAfH0d0">
                                <img src="assets/img/icon/play-butto.svg" alt>
                            </a>
                        </div>
                        <h3>Watch our last tour</h3>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="instagram-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="instagram-active owl-carousel">
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra1.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra2.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra3.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra4.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra5.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra4.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <% include footer.ejs %>


        <script src="website/destination.js"></script>
        <script src="helper/parsley.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script>
            $(document).ready(function () {
                $(function () {
                    assistance.base_url = "<%=base_url%>";
                    assistance.init();
                });
            });
        </script>