<% include header.ejs %>


    <main>

        <!-- <div class="slider-area">
            <div class="single-slider slider-height2 slider-bg2 d-flex align-items-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div id="cover">
                               
                                    <div class="tb">
                                        <div class="td"><input type="text" placeholder="Search Packages..." required>
                                        </div>
                                        <div class="td" id="s-cover">
                                            
                                                <i class="fa fa-search" style="color: black; font-size: 40px;"></i>
                                            
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container my-5">

            <div class="row p-3 pb-4"
                style="background-color: white;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                <div class="col-12 mb-2">
                    <h2>Filter</h2>
                    <hr>
                </div>
                <div class="col-md-4 " id="location_section">



                </div>
                <div class="col-md-4" id="duration_section">

                </div>
                <div class="col-md-4">
                    <button class="header-btn mt-4  " style="border: none;
                    height: 47px;
                    margin-top: 30px !important;cursor: pointer;" onclick="assistance.filter(this)"> <i
                            class="fa fa-search"></i> Search</button>

                </div>

            </div>
        </div>

        <section class="services-section section-padding" style="padding-top: 60px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">

                        <div class="section-tittle text-center mb-45 ">
                            <h2>All Packages </h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row" id="render_data">

                    <!-- <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services2.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">12000 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services3.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">1000 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services4.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html"> Card Title </a></h3>
                                <span class="price">1200 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services5.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">1200 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-img">
                            <img src="assets/img/gallery/services6.jpg" alt>
                        </div>
                        <div class="cat-cap">
                            <div class="pricing d-flex justify-content-between">
                                <h3><a href="events_details.html">Card Title</a></h3>
                                <span class="price">1000 Rs</span>
                            </div>
                            <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </section>


        <!-- <div class="bottom-padding">
            <div class="container">
                <div class="video-area section-img-bg2 d-flex align-items-center"
                    data-background="assets/img/gallery/video-bg.jpg">
                    <div class="video-wrap">
                        <div class="video-icon">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=up68UAfH0d0">
                                <img src="assets/img/icon/play-butto.svg" alt>
                            </a>
                        </div>
                        <h3>Watch our last tour</h3>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="instagram-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="instagram-active owl-carousel">
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra1.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra2.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra3.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra4.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra5.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra4.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <% include footer.ejs %>


        <script src="website/packages.js"></script>
        <script src="helper/parsley.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script>
            $(document).ready(function () {
                $(function () {
                    assistance.base_url = "<%=base_url%>";
                    assistance.init();


                    var duration = `<label for="exampleInputEmail1"> Select Duration<span style="color: red;"></span></label>
                    <select id="duration" style='width: 100%;'>
                       <option value="0">Please Select Duration</option>
                        <option value="1"> 1-2 Days</option>
                        <option value="2"> 2-5 Days</option>
                        <option value="3"> 5-10 Days</option>
                        <option value="4"> 10-15 Days</option>




                    </select>`

                    $("#duration_section").append(duration)
                    new Choices('#duration', {
                        removeItemButton: false,
                        searchEnabled: true,
                        placeholder: true,
                        placeholderValue: "Select Duration ",
                    });
                });
            });
        </script>