<% include header.ejs %>

    <main>

        <!-- <div class="slider-area">
            <div class="single-slider slider-height2 slider-bg2 d-flex align-items-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero__caption hero__caption2 text-center">
                                <h2>All Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <section class="services-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">

                        <div class="section-tittle text-center mb-45 ">
                            <span>Lorem ipsum dolor sit amet consectetur.</span>
                            <h2>All Services </h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row" id="render_data">
                 
                </div>
            </div>
        </section>




        <div class="bottom-padding">
            <div class="container">
                <div class="video-area section-img-bg2 d-flex align-items-center"
                    data-background="assets/img/gallery/video-bg.jpg">
                    <div class="video-wrap">
                        <div class="video-icon">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=up68UAfH0d0">
                                <img src="assets/img/icon/play-butto.svg" alt>
                            </a>
                        </div>
                        <h3>Watch our last tour</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="instagram-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="instagram-active owl-carousel">
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra1.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra2.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra3.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra4.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra5.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="single-instagram">
                                <img src="assets/img/gallery/instra4.jpg" alt>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <% include footer.ejs %>

        <script src="website/services.js"></script>
        <script src="helper/parsley.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script>
            $(document).ready(function () {
                $(function () {
                    assistance.base_url = "<%=base_url%>";
                    assistance.init();
                });
            });
        </script>